<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Actividad</th>
        <th>Completar</th>
        <th>Eliminar</th>      
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let item of tareas, index as i"> <!-- La ultima parte es el nombre del array que va a recorrer -->
        <th>{{ i + 1}}</th>
        <td>
          <b>
            {{ item.tarea }}
          </b>
        </td>
        <td>
          <button class="button is-link">Completar</button>
        </td>
        <td>              
          <button class="button is-danger"  (click)="delete(item)">Eliminar</button>
        </td>            
      </tr>
      
    </tbody>
  </table>
